# VS Code test environment
.vscode-test/

# VS Code workspace settings
.vscode/

# Node modules
node_modules/

# Output folder
out/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Relevant files to be included in the package
vscode/LICENSE
vscode/README.md
vscode/images
