# Exclude tests and build output
.vscode-test/
src/test/
out/

# VS Code workspace settings
.vscode/

# Node modules (you only want your dependencies listed in package.json)
node_modules/

# Miscellaneous
.vscode-test.mjs
.vscodeignore
